/*basic style*/
    * {
        box-sizing: border-box;
    }

    body {
        background-color: white;
    }

    #nav-list > li {
        text-align: center;
    }

    #header-nav {
    position: absolute;
    left: 10px;
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    }




    div section {
        position: relative;
        padding: 10px;
        margin:10px;
        width: 90%;
    }

    #section-1{
        background-color: #B21E3F;
    }

    #section-2{
        background-color: #C354F1;
    }

    #section-3{
        background-color: #11F3C1;
    }
