/*basic style*/
    * {
        box-sizing: border-box;
    }

    body {
        background-color: white;
    }

    #nav-list > li {
        text-align: center;
    }

    #header-nav {
    position: absolute;
    left: 10px;
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
    }




    div section {
        position: relative;
        padding: 10px;
        margin:10px;
        width: 90%;
    }

    .section-1{
        background-color: #B21E3F;
    }

    .section-2{
        background-color: #C354F1;
    }

    .section-3{
        background-color: #11F3C1;
    }


    /*desktop version*/
    @media (min-width: 992px) {
        .col-lg-4, .col-lg-8, .col-lg-12 {
            float:left;
        }
        .col-lg-4{
            width: 33.33%;
        }
        .col-lg-8{
            width: 66.66%;
        }
        .col-lg-12{
            width:100%;
        }
    }

    #text > h3 {
    margin-bottom: 15px;
    }

    /*tablet version*/
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6, .col-md-12 {
            float: left;
        }
        .col-md-6{
            width: 50.0%;
        }
        .col-md-12{
            width: 100%
        }
    }

    @media (max-width: 767px){
        .col-sm-12 {
            float: left;
            width:100%;
        }
    }